__pycache__/
.logs/
.venv/
.vscode/
start_jupyter.sh

model/__pycache__/
compare/audioseal/
modules/__pycache__/
scripts/__pycache__/
utils/__pycache__/
ckpt/
.claude/
outputs/
__pycache__/
runs/
no_effect_runs/
samples/


models/

visqol/

wandb/

temp/

todo.md

pretrained_models/

audio_samples/

utils/output/

utils/audioseal_localization_augmentation.py

compare/miou_by_removal_percentage.pdf

compare/research_comparison.pdf

checkpoints/
docs/


train.logs